In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

In [11]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
import pandas as pd
import numpy as np
import os
import sys
import copy
from matplotlib import pyplot as plt
from scipy.stats import ttest_ind, pearsonr
from scipy.spatial.distance import pdist
from scipy.cluster.hierarchy import dendrogram, linkage
import scipy.cluster.hierarchy as hierarchy
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_validate, KFold, GridSearchCV
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score, accuracy_score

import warnings
warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)
size = lambda obj: '%s MB' % np.round(sys.getsizeof(obj) / (1024**2), 1)

In [12]:
from preparation_functions import *
from method_functions import *
from plot_functions import *
from general_functions import *

In [5]:
projectDir = 'c:/Projects/A_PDX_drug_synergy/'

dirAZpharmacol = projectDir + 'data/restricted_use/syn18496666/AZ Drug Synergy Data/'
dirAZmolecular = projectDir + 'data/restricted_use/syn4923181/'
dirGDSCsensitivity = projectDir + 'data/fromGDSC/'
dirGraceCuratedSynergy = projectDir + 'data/curated synergy Grace/'
dirFromSanger = projectDir + 'data/fromSanger/' # https://cellmodelpassports.sanger.ac.uk/downloads

In [6]:
# 119 drugs * 137 models = 19623 unique pairs
se_drug_synergy_AZ = prepAZsynergy(dirAZpharmacol + 'Combined Challenge Synergy Data/')
print(se_drug_synergy_AZ.shape)
se_drug_synergy_AZ.to_frame().head(3)

(39246,)

                   SYNERGY_SCORE
MODEL DRUG1 DRUG2
22RV1 akt   ar             0.190
            ar_1           6.415
            bcl2         -54.700

In [16]:
loadAZchallengeIndex(se_drug_synergy_AZ, dirAZpharmacol)

(1089,) (591,) (2199,) (3826,) (3870,)
11317
ch2_leaderboard    3778
ch2_test           3767
ch1_train          2112
ch1_test           1077
ch1_leaderboard     583
Name: SYNERGY_SCORE, dtype: int64

MODEL     DRUG1         DRUG2
22RV1     akt           ar       NaN
                        ar_1     NaN
                        bcl2     NaN
                        erbb     NaN
                        fgfr     NaN
                                ...
ZR751FGF  proteasome_2  fgfr     NaN
          tnf           iap      NaN
          tnfsf10       iap      NaN
          vegf          fgfr     NaN
          wnt           fgfr     NaN
Name: SYNERGY_SCORE, Length: 39246, dtype: object

In [8]:
subset = se_drug_synergy_AZ.iloc[:10000].to_frame()
subset['SYNERGY_SCORE_PREDICTED'] = np.random.rand(len(subset))
print(ro_normalized(subset))
subset

0.0030100576740610305

                        SYNERGY_SCORE  SYNERGY_SCORE_PREDICTED
MODEL   DRUG1  DRUG2
22RV1   akt    ar               0.190                 0.527013
               ar_1             6.415                 0.149341
               bcl2           -54.700                 0.361111
               erbb             6.415                 0.110853
               fgfr            -8.590                 0.976205
...                               ...                      ...
HCC1500 esr1_1 erbb             1.480                 0.415260
               fgfr             9.850                 0.823867
               jak             11.000                 0.683344
               map2k_1          5.090                 0.200688
               mtor_1          12.500                 0.562564

[10000 rows x 2 columns]